<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="موسسه خیریه قلب سفید حامی کودکان کار">
    <meta name="description" content="موسسه خیریه قلب سفید حامی کودکان کار">
    <meta name="keywords" content="خیریه,قلب سفید,charity,whiteheart,کودکان کار,">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="M Mansour Mahboubi">


    <title>موسسه خیریه قلب سفید حامی کودکان کار</title>

    <link rel="canonical" href="">
    <link rel="icon" href="img/favicon.png">
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141910120-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141910120-1');
      function animateCreate(elem) {
        elem.classList.remove('animated');
        setTimeout(function(){ elem.classList.add('animated'); },100);

        setTimeout(function(){ elem.classList.remove('animated'); },1000);
      }
    </script>


</head>


<body>

    <section class="home">
      <img src="img/whiteheartlogo.png" class="animated" onclick="animateCreate(this)">
      <div class="name">
        <h1>
          وبسایت موسسه خیریه
          <strong>
            قلب سفید
          </strong>
          در حال راه اندازی می باشد.
        </h1>
        <h2>
          جھت ارتباط با ما و مشاھده فعالیت ھای مجموعه، در شبکه ھای اجتماعی ما را دنبال کنید.
        </h2>
      </div>
      <a href="https://www.instagram.com/ghalb.sefid.charity/" class="insta">
        حساب اینستاگرام قلب سفید
      </a>
      <a href="https://t.me/ghalbesefidcharity" class="telegram">کانال تلگرام قلب سفید</a>
    </section>

</body>
</html>
